- const getInputName = (property) => `data[${property}]`
- const getInputId = (property) => `data_${property}`
- const getTableName = ({constructor}) => constructor.tableName 

mixin formFor(entity = null)
  div.col-12.col-lg-4.mx-auto  
    form&attributes(attributes)
      block

mixin input(entity, propertyName, errors = {})
  - propertyErrors = _.get(errors, propertyName)
  - classLine = 'form-control' + (_.isEmpty(propertyErrors) ? '' : ' is-invalid')
  - inputId = getInputId(propertyName)
  - tableName = getTableName(entity)
  .mb-3(class=(errors[propertyName] && 'has-danger'))
    label(
      for= inputId
    )= t(`views.${tableName}.${propertyName}`)
    input(
      id= inputId
      name=getInputName(propertyName)
      class=classLine
      value=_.get(entity, propertyName, '')
    )&attributes(attributes)
    if !_.isEmpty(propertyErrors)
      .invalid-feedback= propertyErrors.map(({ message }) => message).join('. ')

mixin submit(form = null)
  input(class='btn btn-success' type='submit')&attributes(attributes)

mixin buttonTo(action, method)
  form.mb-0(action=action, method="post")
    input(name="_method" type="hidden" value=method)
    input(type='submit')&attributes(attributes)
