extends ../layouts/application.pug

block header
  =task.name

block content
  .row.mt-5.p-5.shadow.bg-white
    .col-12.col-md-8.order-2.order-md-1
      .lead.fw-normal.mb-4= task.description 
    .col-12.col-md-4.border-start.px-3.order-1.order-md-2.mb-3.mb-md-0
      .mb-2
        span.me-1.badge.bg-danger.text-white= status.name
        each label in labels
          span.me-1.badge.bg-danger.text-white= label
          .name
        
      .d-flex.flex-wrap.mb-3
        span.text-muted.me-2= t('views.tasks.creatorId')
        span= creator
      .d-flex.flex-wrap.mb-3
        span.text-muted.me-2= t('views.tasks.executorId')
        span= executor
      .d-flex.flex-wrap.mb-3
        span.text-muted.me-2= t('views.tasks.createdAt')
        span= task.createdAt

      .d-flex.flex-wrap
        -const id = task.sId
        a.btn.btn-success.me-1(href=route('editTask', {id}))= t('views.actions.edit') 
        +buttonTo(route('task', {id}), 'delete')(value=t('views.actions.delete') class="btn btn-danger me-1")
